@media only screen and (max-width: 1100px){
	.container {
		width: 92vw;
		margin: 0 4vw;
	}
}

@media only screen and (max-width: 600px) {
	h2{
		font-size: 34px;
		&.longtitle {
			font-size: 24px;
		}
	}
	p{
		font-size: 16px;
	}
	.contributions{
		width: 100vw;
		justify-content: flex-start;
		.contribution{
			width: 45vw;
			margin: 2.5vw;
			height: 280px;
			.name{
				border-width: 2px;
			}
			.wrapper{
				width: 100%;
			}
			.image{
				img{
					max-height: 120px;
				}
			}
		}
	}
	.selected{
		.contribution{
			width: 100vw;
			margin: 0;
			.wrapper{
				margin: 0;
			}
			.image{
				img{
					margin: 0;
				}
			}
		}
		.content{
			.text-wrapper{
				width: 100%;
			}
			.quote{
				border-width: 2px;
			}
			.text-template{
				margin-left: 50px;
			}
			width: 100vw;
		}
	}
	.endnotes{
		width: 100%;
	}
	.thumbnail{
		width: 40px;
		height: 70px;
		margin-left: -50px;
		// margin-top: -50px;
		margin-bottom: -75px;
		border-width: 2px;
		padding: 5px 0;
		&:after{
			font-size: 22px;
		}
		&.toggle{
			width: 100%;
			img{
				height: auto;
				width: 100%;
				object-fit: contain;
			}
		}
	}
}