@media only screen and (min-width: 1800px) {
	.people {
		.person {
			width: 30vw;
		}
	}

	.contributions {
		.contribution {
			width: 17.2vw;
		}
		.selected {
			.contribution {
				width: 96vw;
			}
		}
	}
}

@media only screen and (max-width: 1500px) {
	.people {
		.person {
			width: 44vw;
		}
	}
	.contributions {
		.contribution {
			width: 30vw;
		}
		.selected{
			.contribution{
				width: 96vw;
			}
		}
	}
}

@media only screen and (max-width: 1100px){
	.container {
		width: 92vw;
		margin: 0 4vw;
	}
	.people{
		.person{
			width: 92vw;
			min-height: auto;
		}
	}
	.contributions{
		.contribution{
			width: 46.5vw;
		}
		.selected {
			.content{
				.image-template {
					flex-direction: column;
					.text-wrapper{
						top: 0;
						position: relative;
					}
					.images {
						width: 96%;
						margin-left: 0;
					}
				}
			}
			.contribution {
				width: 96vw;
				.wrapper {
					margin: 0;
					width: 80%;
				}
			}
		}
	}

		.logo-section {
	
			.logos {	
				.logo {
					width: 49%;
					margin-right: 1%;
					margin-bottom: 1%;
				}
			}
		}
		#v0, .scroll-bound{
			display: none;
		}
}

@media only screen and (max-width: 600px) {
	h2{
		font-size: 30px;
		&.longtitle {
			font-size: 20px;
		}
	}
	p{
		font-size: 18px;
	}
	.header{
		height: 100px;
	}
	.no-name {
		border-width: 2px;
	}
	.contributions{
		width: 100vw;
		justify-content: flex-start;
		.contribution{
			width: 45vw;
			margin: 2.5vw;
			height: 280px;
			position: relative;
			padding-top: 0;
			.name{
				border-width: 2px;
			}
			.wrapper{
				width: 100%;
			}
			.image{
				img{
					max-height: 120px;
				}
			}
		}
	}
	.selected{
		.contribution{
			width: 94vw;
			// padding: 0;
			margin: 0;
			padding-top: 100px;
			min-height: 150px;
			height: auto;
			.wrapper{
				margin: 0;
				width: 80%;
				h2{
					line-height: 0.95;
				}
			}
			.image{
				img{
					margin: 0;
				}
			}
		}
		.content{
			width: 94vw;
			// padding: 0;
			.text-wrapper{
				width: 100%;
			}
			.image-template {
				.text-wrapper{
					position: relative;
					top: 0;
				}
			}
			.quote{
				border-width: 2px;
			}
			.text-template{
				margin-left: 50px;
			}
		}
	}
	.endnotes{
		width: 100%;
	}
	.thumbnail{
		width: 40px;
		height: auto;
		margin-left: -50px;
		// margin-top: -50px;
		margin-bottom: -40px;
		border-width: 2px;
		padding: 5px 0;
		&:after{
			width: 22px;
			height: 22px;
			bottom: -22px;
		}
		&.toggle{
			width: 100%;
			img{
				height: auto;
				width: 100%;
				object-fit: contain;
			}
		}
	}
	.big-image {
		.image-zoom {
			max-width: 92vw;
		}

	}
		.hero {
			.scroll {
				font-size: 120px;
			}
			.scroll1{
				right: 65px;
				animation-duration: 10s;
			}
			.scroll2 {
				right: 160px;
				animation-duration: 10s;
			}
			.scroll3 {
				right: 130px;
				animation-duration: 10s;
			}
			.scroll4 {
				right: 230px;
				animation-duration: 10s;
			}
		}
	.close-bottom{
		display: block;
		width: 30px;
		height: 30px;
	}
	.selected .contribution .close{
		bottom: 30px;
	}
	.arrow-top {
		bottom: 0;
		right: 0;
	}
}