@font-face {
	font-family: Flexa;
	font-weight: 300;
	src: url("fonts/GT-Flexa-Standard-Regular.otf") format("opentype");
}

@font-face {
	font-family: Flexa;
	font-weight: 300;
	font-style: italic;
	src: url("fonts/GT-Flexa-Standard-Regular-Italic.otf") format("opentype");
}

@font-face {
	font-family: Flexa;
	font-weight: 500;
	src: url("fonts/GT-Flexa-Standard-Medium.otf") format("opentype");
}

@font-face {
	font-family: Flexa;
	font-weight: 100;
	src: url("fonts/GT-Flexa-Standard-Light.otf") format("opentype");
}

@font-face {
	font-family: Flexa;
	font-weight: 200;
	src: url("fonts/GT-Flexa-Mono-Regular.otf") format("opentype");
}



body, html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	background-color: #FFEFAD;
	font-family: Flexa;
	width: 100vw;
	overflow-x: hidden;
}

h2{
	font-size: 52px;
	line-height: 1;
	margin: 10px 0 20px 0;
	font-weight: 100;
	&.longtitle{
		font-size: 34px;
	}
}

p{
	font-size: 20px;
}

img{
	max-width: 100%;
}

.container{
	width: 1100px;
	display: block;
	margin: auto;
}

.contributions{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 48px;
	.contribution{
		position: relative;
		width: 300px;
		overflow: hidden;
		cursor: pointer;
		margin: 0 1vw 1vw 1vw;
		height: 370px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.wrapper{
			height: 100%;
			width: 300px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.image{
			position: relative;
			overflow: hidden;
			
			img{
				display: block;
				width: auto;
				height: 170px;
				object-fit: cover;
				margin: auto;
			}
		}
		.name{
			width: 100%;
			padding: 10px 0;
			border-top: 3px solid black;
			border-bottom: 3px solid black;
			text-transform: uppercase;
			font-weight: 200;
			margin: 0;
			margin-top: 10px;
		}
		.close{
			display: none;
		}
	}
}


.content{
	display: none;
}

.selected {
	margin-bottom: 48px;
	&.black-bg{
		background-color: black;
		color: white;
		.contribution{
			background-color: black;
			color: white;
			.name{
				border-width: 2px;
				border-color: white;
			}	
		}
		.content{
			background-color: black;
			color: white;
			.quote {
				border-width: 2px;
				border-color: white;
			}
		}
		.thumbnail{
			border-width: 2px;
			border-color: white;
		}
	}
	.contribution{
		width: 96vw;
		padding: 1vw 3vw;
		margin: 0;
		background-color: #FDFBDA;
		.name{
			width: 100%;
		}
		.wrapper{
			margin-left: 200px;
		}
		.close{
			display: block;
			position: absolute;
			right: 3vw;
			cursor: pointer;
			font-weight: 100;
			font-size: 38px;
		}
	}
	.content{
		background-color: #FDFBDA;
		display: block;
		width: 96vw;
		padding: 0 3vw;
		padding-top: 10px;
		padding-bottom: 48px;
		.text-template{
			margin-left: 200px;
		}
		.content-wrapper{
			transition: all 0.4s ease-in-out;
			img{
				max-height: 90vh;
			}
			.text{
				max-width: 900px;
				padding-right: 14px;
				transition: all 0.4s ease-in-out;
			}
			p{
				font-family: Times;
				line-height: 1.3;
			}
		}
		.quote{
			border-top: 4px solid black;
			padding: 14px 0;
			margin-top: 48px;
		}
		.text-wrapper{
			width: 600px;
			p {
				font-weight: 300;
				line-height: 1.3;
			}
		}
	}
}

.image-item{
	margin-bottom: 24px;
}

.caption {
	height: auto;
	padding: 10px 0;
	p {
		font-size: 16px;
		margin: 0;
	}
}

.thumbnail{
	width: 150px;
	height: 200px;
	margin-left: -200px;
	margin-top: -130px;
	margin-bottom: -70px;
	border-top: 3px solid black;
	padding-top: 10px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	.caption{
		display: none;
	}
	img{
		margin-bottom: 0!important;
	}
	&:after{
		content: '→';
		font-size: 30px;
		display: flex;
		justify-content: flex-end;
	}
	&.toggle{
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
		width: 900px;
		.caption {
			display: block;
			p{
				font-size: 16px;
			}
		}
		&:after {
			content: '←';
		}
		img {
			object-fit: contain;
			height: 100%;
			width: auto;
		}
	}
}

.footnote{
	vertical-align: super;
	font-size: 14px;
	font-weight: 300;
	text-decoration: underline;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.endnotes{
	margin-top: 48px;
	width: 600px;
	font-weight: 300;
	font-family: Times;
	font-size: 14px;
}

.logo-section{
	h1{
		padding-bottom: 10px;
		border-bottom: 2px solid black;
	}
	.logos{
		display: flex;
		flex-wrap: wrap;
		.logo{
			width: 150px;
			margin-right: 14px;
		}
	}
}


.page-image{
	height: 60vh;
	display: block;
	margin: auto;
}